# 1  Automated data cleaning for chest Xrays with cleanX: example code using classes

Work by Candace Makeda Moore, MD, Oleg Sivokon, Andrew Murphy Please note this workflow does not cover the whole scope of cleanX, and is only meant to show some of the functionality that can be accoomplished using the classes in cleanX. It is essentially a workflow that can easily automate many tasks if a programmer is making many ML products from medical images.

In [1]:

import sys
sys.path = ['D:/projects/cleanX'] + sys.path

In [2]:
from cleanX import (
    dataset_processing as csvp,
    dicom_processing as dicomp,
    image_work as iwork,
)

## DICOM files

An example of using the dicom_processing to get a dataframe of data , and an image from a DICOM file.

In [3]:
from cleanX.dicom_processing import DicomReader

In [4]:
def pydicom_missing():
    try:
        import pydicom
        return False
    except ModuleNotFoundError:
        
        return True
pydicom_missing()

False

In [5]:
dicomfile_directory1 = 'D:/projects/cleanX/test/dicom_example_folder'
source_column = 'file'
reader = dicomp.pydicom_adapter.PydicomDicomReader(
        exclude_fields=('PatientName',),
    )
source = dicomp.DirectorySource(dicomfile_directory1, source_column)
df = reader.read(source)
df

,file,CorrectedImage,DetectorVector,ProtocolName,SmallestImagePixelValue,PatientAge,PatientBirthDate,ReferringPhysicianName,StudyDate,SOPInstanceUID,...,PixelRepresentation,ActualFrameDuration,StudyTime,ManufacturerModelName,StudyID,BitsStored,SeriesInstanceUID,EnergyWindowVector,SeriesDate,CountsAccumulated
0,IM-0001-0002.dcme3cbbe6b-2d21-4798-a27a-10226c...,UNIF,1,10.0.219267@,0,051Y,19491210,,2001-01-31,1.3.12.2.1107.5.6.1.123.24412.0.231616112282440,...,0,132121,114808.390000,IP2,1,16,1.3.12.2.1107.5.6.1.123.24412.0.231616727483060,1,2001-01-31,None
1,IM-0001-0003.dcma8cf5740-b518-4e91-be5e-3b6cdb...,UNIF,1,10.0.219267@,0,051Y,19491210,,2001-01-31,1.3.12.2.1107.5.6.1.123.24412.0.231081423202127,...,0,131348,114808.390000,IP2,1,16,1.3.12.2.1107.5.6.1.123.24412.0.231616727483060,1,2001-01-31,None
2,IM-0001-0004.dcm0a117e34-be84-4fa8-993d-249927...,UNIF,1,10.0.219267@,0,051Y,19491210,,2001-01-31,1.3.12.2.1107.5.6.1.123.24412.0.231019730551383,...,0,60003,114808.390000,IP2,1,16,1.3.12.2.1107.5.6.1.123.24412.0.231737174002313,1,2001-01-31,None

In [6]:
output_folder = 'D:/projects/cleanX/test'
rip = dicomp.rip_out_jpgs
jpg = rip(dicomfile_directory1,output_folder)

2 image converted

In [7]:
# It worked, I checked ;) New imagages in my test folder!

## Datasets

In [8]:
from cleanX.dataset_processing import MLSetup

In [9]:
# for the sake of the demo we will use nearly the same train and test source 
# i.e. all thousands of images are leaked images between test and train
# setup parameters = train, test, uniqueID, sensitive list 
setup = MLSetup(
    'example_csv.csv',
    'duped1.csv',
    unique_id='X_ray_image_name',
    label_tag='Label',
    sensitive_list=['gender'],
)
report = setup.generate_report()
report.to_ipwidget()

In [10]:
setup = MLSetup(
    'example_csv.csv',
    'duped1.csv',
    unique_id='X_ray_image_name',
    label_tag='Label',
    sensitive_list=['gender'],
)
report = setup.generate_report()
print(report.to_text())

Duplicates
==========
    Train Duplicates Count: 0
    Duplicated train names
    ----------------------
        Empty DataFrame
        Columns: [Unnamed: 0, Unnamed: 0.1, X_ray_image_name, Label, Dataset_type, Label_2_Virus_category, Label_1_Virus_category, gender]
        Index: []

    Test Duplicates Count: 1
    Duplicated test names
    ---------------------
           Unnamed: 0 Unnamed: 0.1   X_ray_image_name   Label Dataset_type  \
        1           0            0  IM-0128-0001.jpeg  Normal        TRAIN

          Label_2_Virus_category Label_1_Virus_category gender
        1                    NaN                    NaN   Male


Leakage
=======
    Leaked entries
    --------------
              Unnamed: 0_x  Unnamed: 0.1_x            X_ray_image_name   Label_x  \
        0                0               0           IM-0128-0001.jpeg    Normal
        1                0               0           IM-0128-0001.jpeg    Normal
        2                1               1           IM-0127-0001.jpeg    Normal
        3                2               2           IM-0125-0001.jpeg    Normal
        4                3               3           IM-0122-0001.jpeg    Normal
        ...            ...             ...                         ...       ...
        5906          5905            5928  person1637_virus_2834.jpeg  Pnemonia
        5907          5906            5929  person1635_virus_2831.jpeg  Pnemonia
        5908          5907            5930  person1634_virus_2830.jpeg  Pnemonia
        5909          5908            5931  person1633_virus_2829.jpeg  Pnemonia
        5910          5909            5932  person1632_virus_2827.jpeg  Pnemonia

             Dataset_type_x Label_2_Virus_category_x Label_1_Virus_category_x  \
        0             TRAIN                      NaN                      NaN
        1             TRAIN                      NaN                      NaN
        2             TRAIN                      NaN                      NaN
        3             TRAIN                      NaN                      NaN
        4             TRAIN                      NaN                      NaN
        ...             ...                      ...                      ...
        5906           TEST                      NaN                    Virus
        5907           TEST                      NaN                    Virus
        5908           TEST                      NaN                    Virus
        5909           TEST                      NaN                    Virus
        5910           TEST                      NaN                    Virus

             gender_x  Unnamed: 0_y Unnamed: 0.1_y   Label_y Dataset_type_y  \
        0        Male             0              0    Normal          TRAIN
        1        Male             0              0    Normal          TRAIN
        2      Female             1              1    Normal          TRAIN
        3      Female             2              2    Normal          TRAIN
        4        Male             3              3    Normal          TRAIN
        ...       ...           ...            ...       ...            ...
        5906     Male          5905           5928  Pnemonia           TEST
        5907   Female          5906           5929  Pnemonia           TEST
        5908   Female          5907           5930  Pnemonia           TEST
        5909     Male          5908           5931  Pnemonia           TEST
        5910   Female          5909           5932  Pnemonia           TEST

             Label_2_Virus_category_y Label_1_Virus_category_y gender_y
        0                         NaN                      NaN     Male
        1                         NaN                      NaN     Male
        2                         NaN                      NaN   Female
        3                         NaN                      NaN   Female
        4                         NaN                      NaN     Male
        ...                       ...                      ...      ...
        5906                      NaN                    Virus     Male
        5907                      NaN                    Virus   Female
        5908                      NaN                    Virus   Female
        5909                      NaN                    Virus     Male
        5910                      NaN                    Virus   Female

        [5911 rows x 15 columns]


Value Counts on Sensitive Categories
====================================
    Value counts of categorty 1
    ---------------------------
                         sums
        Label    gender
        Normal   Female  1051
                 Male     525
        Pnemonia Female  2890
                 Male    1444


Knowledge
=========
    Columns
    -------
      0. Unnamed: 0Unnamed: 0
      1. Unnamed: 0.1Unnamed: 0.1
      2. X_ray_image_nameX_ray_image_name
      3. LabelLabel
      4. Dataset_typeDataset_type
      5. Label_2_Virus_categoryLabel_2_Virus_category
      6. Label_1_Virus_categoryLabel_1_Virus_category
      7. gendergender

    Train columns
    -------------
      0. Unnamed: 0
      1. Unnamed: 0.1
      2. X_ray_image_name
      3. Label
      4. Dataset_type
      5. Label_2_Virus_category
      6. Label_1_Virus_category
      7. gender

    Test columns
    ------------
      0. Unnamed: 0
      1. Unnamed: 0.1
      2. X_ray_image_name
      3. Label
      4. Dataset_type
      5. Label_2_Virus_category
      6. Label_1_Virus_category
      7. gender

    Rows: 11825
    Train rows: 5910
    Test rows: 5915
    Nulls: 14840
    Train nulls: 7417
    Test nulls: 7423
    Datatypes
    ---------
      0. int64
      1. int64
      2. object
      3. object
      4. object
      5. object
      6. object
      7. object
      8. int64
      9. object
      10. object
      11. object
      12. object
      13. object
      14. object
      15. object

    Train datatypes
    ---------------
      0. int64
      1. int64
      2. object
      3. object
      4. object
      5. object
      6. object
      7. object

    Test datatypes
    --------------
      0. int64
      1. object
      2. object
      3. object
      4. object
      5. object
      6. object
      7. object

    Descriptions
    ------------
                 Unnamed: 0  Unnamed: 0.1
        count  11825.000000           NaN
        mean    5910.500169           NaN
        std     3413.871837           NaN
        min        0.000000           NaN
        25%     2954.750000           NaN
        50%     5910.500000           NaN
        75%     8866.250000           NaN
        max    11822.000000           NaN

    Train description
    -----------------
                Unnamed: 0  Unnamed: 0.1
        count  5910.000000   5910.000000
        mean   2954.500000   2957.075635
        std    1706.214377   1710.186149
        min       0.000000      0.000000
        25%    1477.250000   1477.250000
        50%    2954.500000   2954.500000
        75%    4431.750000   4431.750000
        max    5909.000000   5932.000000

    Test description
    ----------------
                Unnamed: 0
        count  5915.000000
        mean   2956.000169
        std    1707.657460
        min       0.000000
        25%    1477.500000
        50%    2956.000000
        75%    4434.500000
        max    5913.000000

## Images

The image workflow is under development (7/22/2021). Stay tuned.

In [14]:
import pandas
pandas.Index.mro()
pandas.DataFrame.mro()

[pandas.core.frame.DataFrame,
 pandas.core.generic.NDFrame,
 pandas.core.base.PandasObject,
 pandas.core.accessor.DirNamesMixin,
 pandas.core.indexing.IndexingMixin,
 pandas.core.arraylike.OpsMixin,
 object]