# 1  Automated data cleaning for chest Xrays with cleanX: example code using classes

Work by Candace Makeda Moore, MD, Oleg Sivokon, Andrew Murphy Please note this workflow does not cover the whole scope of cleanX, and is only meant to show some of the functionality that can be accoomplished using the classes in cleanX. It is essentially a workflow that can easily automate many tasks if a programmer is making many ML products from medical images.

In [1]:

import sys
sys.path = ['D:/projects/cleanX'] + sys.path

## DICOM files

## Datasets

In [2]:
from cleanX.dataset_processing import MLSetup

In [3]:
# for the sake of the demo we will use nearly the same train and test source 
# i.e. all thousands of images are leaked images between test and train
# setup parameters = train, test, uniqueID, sensitive list 
setup = MLSetup(
    'example_csv.csv',
    'duped1.csv',
    unique_id='X_ray_image_name',
    label_tag='Label',
    sensitive_list=['gender'],
)
report = setup.generate_report()
report.to_ipwidget()

In [4]:
setup = MLSetup(
    'example_csv.csv',
    'duped1.csv',
    unique_id='X_ray_image_name',
    label_tag='Label',
    sensitive_list=['gender'],
)
report = setup.generate_report()
report.to_text()

['Duplicates',
 'Train Duplicates Count:0',
 Empty DataFrame
 Columns: [Unnamed: 0, Unnamed: 0.1, X_ray_image_name, Label, Dataset_type, Label_2_Virus_category, Label_1_Virus_category, gender]
 Index: [],
 'Test Duplicates Count:1',
    Unnamed: 0 Unnamed: 0.1   X_ray_image_name   Label Dataset_type  \
 1           0            0  IM-0128-0001.jpeg  Normal        TRAIN

   Label_2_Virus_category Label_1_Virus_category gender
 1                    NaN                    NaN   Male  ,
 'Leakage',
       Unnamed: 0_x  Unnamed: 0.1_x            X_ray_image_name   Label_x  \
 0                0               0           IM-0128-0001.jpeg    Normal
 1                0               0           IM-0128-0001.jpeg    Normal
 2                1               1           IM-0127-0001.jpeg    Normal
 3                2               2           IM-0125-0001.jpeg    Normal
 4                3               3           IM-0122-0001.jpeg    Normal
 ...            ...             ...                         ...       ...
 5906          5905            5928  person1637_virus_2834.jpeg  Pnemonia
 5907          5906            5929  person1635_virus_2831.jpeg  Pnemonia
 5908          5907            5930  person1634_virus_2830.jpeg  Pnemonia
 5909          5908            5931  person1633_virus_2829.jpeg  Pnemonia
 5910          5909            5932  person1632_virus_2827.jpeg  Pnemonia

      Dataset_type_x Label_2_Virus_category_x Label_1_Virus_category_x  \
 0             TRAIN                      NaN                      NaN
 1             TRAIN                      NaN                      NaN
 2             TRAIN                      NaN                      NaN
 3             TRAIN                      NaN                      NaN
 4             TRAIN                      NaN                      NaN
 ...             ...                      ...                      ...
 5906           TEST                      NaN                    Virus
 5907           TEST                      NaN                    Virus
 5908           TEST                      NaN                    Virus
 5909           TEST                      NaN                    Virus
 5910           TEST                      NaN                    Virus

      gender_x  Unnamed: 0_y Unnamed: 0.1_y   Label_y Dataset_type_y  \
 0        Male             0              0    Normal          TRAIN
 1        Male             0              0    Normal          TRAIN
 2      Female             1              1    Normal          TRAIN
 3      Female             2              2    Normal          TRAIN
 4        Male             3              3    Normal          TRAIN
 ...       ...           ...            ...       ...            ...
 5906     Male          5905           5928  Pnemonia           TEST
 5907   Female          5906           5929  Pnemonia           TEST
 5908   Female          5907           5930  Pnemonia           TEST
 5909     Male          5908           5931  Pnemonia           TEST
 5910   Female          5909           5932  Pnemonia           TEST

      Label_2_Virus_category_y Label_1_Virus_category_y gender_y
 0                         NaN                      NaN     Male
 1                         NaN                      NaN     Male
 2                         NaN                      NaN   Female
 3                         NaN                      NaN   Female
 4                         NaN                      NaN     Male
 ...                       ...                      ...      ...
 5906                      NaN                    Virus     Male
 5907                      NaN                    Virus   Female
 5908                      NaN                    Virus   Female
 5909                      NaN                    Virus     Male
 5910                      NaN                    Virus   Female

 [5911 rows x 15 columns],
 'Value Counts on Sensitive Categories',
                  sums
 Label    gender
 Normal   Female  1051
          Male     525
 Pnemonia Female  2890
          Male    1444,
 'Knowledge',
 "Columns:Index(['Unnamed: 0Unnamed: 0', 'Unnamed: 0.1Unnamed: 0.1',\n       'X_ray_image_nameX_ray_image_name', 'LabelLabel',\n       'Dataset_typeDataset_type',\n       'Label_2_Virus_categoryLabel_2_Virus_category',\n       'Label_1_Virus_categoryLabel_1_Virus_category', 'gendergender'],\n      dtype='object')",
 "Train columns:Index(['Unnamed: 0', 'Unnamed: 0.1', 'X_ray_image_name', 'Label',\n       'Dataset_type', 'Label_2_Virus_category', 'Label_1_Virus_category',\n       'gender'],\n      dtype='object')",
 "Test columns:Index(['Unnamed: 0', 'Unnamed: 0.1', 'X_ray_image_name', 'Label',\n       'Dataset_type', 'Label_2_Virus_category', 'Label_1_Virus_category',\n       'gender'],\n      dtype='object')",
 'Rows:11825',
 'Train rows:5910',
 'Test rows:5915',
 'Nulls:14840',
 'Train nulls:7417',
 'Test nulls:7423',
 "Datatypes:[dtype('int64'), dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]",
 "Train datatypes:[dtype('int64'), dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]",
 "Test datatypes:[dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]",
          Unnamed: 0  Unnamed: 0.1
 count  11825.000000           NaN
 mean    5910.500169           NaN
 std     3413.871837           NaN
 min        0.000000           NaN
 25%     2954.750000           NaN
 50%     5910.500000           NaN
 75%     8866.250000           NaN
 max    11822.000000           NaN,
         Unnamed: 0  Unnamed: 0.1
 count  5910.000000   5910.000000
 mean   2954.500000   2957.075635
 std    1706.214377   1710.186149
 min       0.000000      0.000000
 25%    1477.250000   1477.250000
 50%    2954.500000   2954.500000
 75%    4431.750000   4431.750000
 max    5909.000000   5932.000000,
         Unnamed: 0
 count  5915.000000
 mean   2956.000169
 std    1707.657460
 min       0.000000
 25%    1477.500000
 50%    2956.000000
 75%    4434.500000
 max    5913.000000,
 '']

## Images

The image workflow is under development (7/22/2021). Stay tuned.