In [1]:
import sys
sys.path = ['D:/projects/cleanX'] + sys.path

In [2]:
from cleanX.dataset_processing import MLSetup

In [3]:
setup = MLSetup('example_csv.csv', 'example_csv.csv')
report = setup.generate_report()
report.to_ipwidget()